.navbar{
    background-color:#3c424b;
    position: relative;
    border-radius: 0px 10px 10px 0px;
    width:100px;
    top:0em;
    height:45.6em;
    
}

.navbar_container{
  text-align: center;
}

.navbar i{
    color:#cfcfcf;
    font-size: 30px;
    padding-top:60px;
    margin-top: 10px;
    /* transition: all 0.1s; */
    position: relative;
}
.navbar .description{
    display:none;
}
.navbar i:hover{
    padding-top:50px;
    font-size:40px;
}

.navbar i:hover .description{
    display:inline;
    color:#3d3d3d;
    font-size:15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    z-index:1;
    position: absolute;
    text-align:center;
    left:75px;
    top:60px;
    background-color: rgb(177, 177, 177);
    border-radius:0px 10px 10px 10px;
    padding:5px;
}

.navbar span{
    text-decoration: none;
    display: hidden;
}

exit{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.sub_options{
    display:none;
}