.cell-container{
    margin-top:20px;
    padding: 10px;
}
.explain{
    display:none;
}

/* li:hover .explain{
    display: inline;
} */

.input-cell{
    background-color:#3c424b;
    padding-left: 10px;
    margin : 10px;
    align-items: center;
    display: flex;
    position: relative;
}

.input-cell i{
    border:2px solid #abb2b2;
    padding:15px;
    color:#abb2b2;
    font-weight: 1000;
    font-size: large;
    border-radius:50%;
}

.input-cell i:hover{
    color:#3c424b;
    background-color: #cfcfcf;
    border:2px solid #cfcfcf;
}

.options{
    display: block;
    position: absolute;
    padding:0px;
    right:0px;
    top: 0px;
    margin:5px;
    list-style-type: none;
    text-align: center;
}

.options i{
    font-size: 17.34999898989899px;
    padding: 2px;
    margin: 0px 2px 0px 2px;
    border: 0px;
}

.options li{
    text-decoration: none;
}

.output-cell {
    background-color: #181c24;
    color:#abb2b2;
    font-size: 15px;
    padding:10px;
    margin :10px;
    margin-top:-8px;
    align-items: center;
    transition: all 0.4s;
}
.output-cell i{
    transition: all 0.4s;
}
.output-cell i:hover{
    font-size:25px;
    padding: -10px;
}
.results {
    flex-grow: 1;
    padding:10px;
    margin : 10px;
    align-items: center;
}

.text-box{
    background-color: #181c24;
    top: 20%;
    width:100%;
    left:5%;
    line-height: 25px;
    outline: 0;
    border: 0;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#abb2bf;
    margin-left: 10px;
}
.input-cell textarea{
    padding: 10px;
    margin-right: 43px;
}

.text-box-container{
    flex-grow: 1;
    flex-direction: column;
}
