@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
body{
  background: #282c34;
  font-family: 'Open Sans', sans-serif;
}
.container{
  display: flex;
}

.heading{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 80px;
    color:#ffffff;
    align-items: center;
    padding:1% 20%;
}

.search-box{
    text-align: center;
    width:97%;
    padding:5px;
}

a{
    text-decoration: none;
}

a {
    text-decoration: none;  
    position: absolute;
    top: 70px;
    bottom:0;
    left: 0;
    right: 0;
    font-size: 20px;
    color: white;
    text-align: center; 
    width: 100%;
  }
  
  .main-section{
      top:38%;
      height:60%;
      margin-left:100px;
      margin-top:25px;
      flex-grow: 1;
      z-index: 0;
  }


  .result{
      position: absolute;
      top:10%;
      color:white;
      align-items: center;
      background-color: #21202b;
      width:50%;
      height:22%;
      left:21%;
      margin:0%;
      padding:10px 50px;
  }

  .button{
    position: fixed;
    top: 1%;
    border:2px solid white;
    padding:15px;
    color:white;
    font-weight: 1000;
    font-size: large;
    border-radius:50%;
    left:10%;
  }

  button{
      border-radius:5px;
      padding:2px 5px;
      margin:10px 1%;
      color:#eead71;
      background-color:#282c34;
      opacity: 80%;
      border:0px;
      border-right:2px solid rgb(238,173,113,0.3);
      border-bottom:2px solid rgb(238,173,113,0.3);
      border-radius:10px 0px;
      font-size: 18px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  button:hover{
      background-color:#eead71;
      color:#282c34;
      transition:0.2s;
  }

  .status{
      position: absolute;
      top:15px;
      right:20px;
      padding-top:4px;
      color:#c4c4c4;
      background-color:#282c34;
      padding:2px;
      font-size: 17px;
      z-index:1;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .status i{
      color:rgb(2, 255, 2);
  }